python-dotenv

numpy
bcolz-zipline
tqdm==4.62.0
opencv_python==4.5.3.56
scipy==1.6.2
Pillow
scikit-learn
tensorboard
tensorboardx
matplotlib
pytorch_lightning
seaborn
faiss-gpu
pytorch_metric_learning

--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.11.0
torchvision==0.12.0
