pytorch_metric_learning==1.1.2

laplace_torch==0.1a2
asdfghjkl==0.1a2

faiss-gpu
pytorch-lightning-bolts
matplotlib
pandas
seaborn

--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio
